name: CI

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checkout code
      - name: Checkout repository
        uses: actions/checkout@v4

      # Setup Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24.5.0
          cache: npm
          cache-dependency-path: package-lock.json

      # Install dependencies
      - name: Install dependencies
        run: npm ci

      # Run Biome lint
      - name: Biome lint
        run: npm run lint

      # Run Next.js build
      - name: Next.js build
        run: npm run build
